<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<body>
<h1>Reset Your Password</h1>
<p>Please enter your new password</p>

<form id="resetPasswordForm">
  <div>
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <button type="submit">Reset Password</button>
  </div>
</form>

<div id="message" style="margin-top: 20px;"></div>

<script nonce="{{nonce}}">
  function getCookie(name) {
    const cookies = document.cookie.split(';');
    console.log(document.cookie.match('token'))
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.startsWith(name + '=')) {
        return cookie.substring(name.length + 1);
      }
    }
    return null;
  }

  document.getElementById('resetPasswordForm').addEventListener('submit', async (event) => {
    event.preventDefault();

    const token = getCookie('token');
    const newPassword = document.getElementById('password').value;
    const messageDiv = document.getElementById('message');

    if (!token) {
      messageDiv.innerHTML = '<p style="color: red;">Error: Token not found in cookies.</p>';
      return;
    }

    try {
      const response = await fetch('/api/v1/users/reset-password', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ token, new_password: newPassword }),
      });

      if (response.ok) {
        messageDiv.innerHTML = '<p style="color: green;">Password reset successfully!</p>';
      } else {
        const errorData = await response.json();
        messageDiv.innerHTML = `<p style="color: red;">Error: ${errorData.message || 'Failed to reset password'}</p>`;
      }
    } catch (error) {
      messageDiv.innerHTML = `<p style="color: red;">Something went wrong, try again later</p>`;
      console.log(error.message);
    }
  });

</script>

</body>
</html>